body{
background-color: blanchedalmond;
border-style:solid;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 20px;
margin-right: 20px;
margin-left: 20px;
}

h1{
    text-align: center;
}

h4{
    text-align: left;
}

h3{
    text-align: left;
}

h2{
    text-align: left;
}

#t01 th{
    background-color:burlywood;
    color:black;
}

#Strip{
    text-align: left;
    display: inline-block;
}

#Price{
    text-align: right;
}
